* {
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    color: black;
    font-family: "Times New Roman", serif;
    font-size: 0.8rem;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

    a:link, a:visited, a:active {
      opacity: 1;
      text-decoration: none;
      color: black;
      filter: alpha(opacity=100);
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
    }
    
    a:hover, {
      opacity: 0;
      filter: alpha(opacity=0);
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
    }